<html>
    <head>
        <title>

        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        <!-- Template Main CSS File -->
        <link href="./static/css/aboutus.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="material-icons" style="font-size: 30px; color:darkgoldenrod" title="Movie Search Page">movie</span></a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li class="active"><a href="/detail" title="Project Introduction">Introduction <span class="sr-only">(current)</span></a></li>
                    <li><a href="/objective#about" title="Project Objective">Objective</a></li>
                    <li><a href="/solution#services" title="Project Solution">Solution</a></li>
                    <li><a href="/output#team" title="Project Output">Output</a></li>      
                    <li><h4 style="color:crimson; font-size: 23px" title="Project Title"><b>Movie Recommendation System: Machine Learning using Python</h4></b></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card hovercard">
                        <div class="cardheader">
        
                        </div>
                        <div class="avatar">
                            <div class="row">
                            <div class="col-lg-2 col-sm-2 col-md-offset-1"><img alt="Brandon Tiley" title="Brandon Tiley" src="../static/img/brandon-tiley.jpg"> </div>
                            <div class="col-lg-2 col-sm-2"><img alt="Brett Scotland" title="Brett Scotland" src="../static/img/brett-scotland.jpg"></div>
                            <div class="col-lg-2 col-sm-2"><img alt="Waqas Zahick" title="Waqas Zahick" src="../static/img/waqas-zahick.jpeg"></div>
                            <div class="col-lg-2 col-sm-2"><img alt="Terry Tsang" title="Terry Tsang" src="../static/img/terry-tsang.jpg"></div>
                            <div class="col-lg-2 col-sm-2"><img alt="Emily Dunkin" title="Emily Dunkin" src="../static/img/emily-dunkin-01.jpg"></div>
                            </div>
                            <div class="info">
                            <div class="title row">
                                    <div class="col-lg-2 col-sm-2 col-md-offset-1"><a href="" alt="Brandon Tiley" style="color:forestgreen">Brandon Tiley</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" alt="Brett Scotland" style="color:red">Brett Scotland</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" alt="Waqas Zahick" style="color:blue">Waqas Zahick</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" alt="Terry Tsang" style="color:black">Terry Tsang</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" alt="Emily Dunkin" style="color:deeppink">Emily Dunkin</a></div>
                            </div>
                        </div>
                        <div class="bottom row">
                            
                            <div class="col-lg-2 col-sm-2 col-md-offset-1">
                                <a class="btn btn-warning btn-sm" href="https://github.com/Btiley">
                                    <i class="fa fa-github-alt" style="color:black; font-size:24px" title="Brandon Tiley's GitHub profile"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="https://www.linkedin.com/in/btiley23/">
                                    <i class="fa fa-linkedin" style="color:white; font-size:24px" title="Brandon Tiley's Linkedin profile"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-warning btn-sm" href="https://github.com/BrettScotland">
                                    <i class="fa fa-github-alt" style="color:black; font-size:24px" title="Brett Scotland's GitHub profile"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="https://www.linkedin.com/in/brett-scotland-02577b1b4/">
                                    <i class="fa fa-linkedin" style="color:white; font-size:24px" title="Brett Scotland's Linkedin profile"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-warning btn-sm" href="https://github.com/waqaszahick">
                                    <i class="fa fa-github-alt" style="color:black; font-size:24px" title="Waqas Zahick's GitHub profile"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="https://www.linkedin.com/in/waqas-zahick/">
                                    <i class="fa fa-linkedin" style="color:white; font-size:24px" title="Waqas Zahick's Linkedin profile"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-warning btn-sm" href="https://github.com/chun2222">
                                    <i class="fa fa-github-alt" style="color:black; font-size:24px" title="Terry Tsang's GitHub profile"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="https://www.linkedin.com/in/terry-tsang-683606168/">
                                    <i class="fa fa-linkedin"  style="color:white; font-size:24px" title="Terry Tsang's Linkedin profile"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-warning btn-sm" href="https://github.com">
                                    <i class="fa fa-github-alt" style="color:black; font-size:24px" title="Emily Dunkin's GitHub profile"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" href="https://linkedin.com">
                                    <i class="fa fa-linkedin" style="color:white; font-size:24px" title="Emily Dunkin's Linkedin profile"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>
    </body>
</html>