<html>
    <head>
        <title>

        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        <!-- Template Main CSS File -->
        <link href="./static/css/aboutus.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="material-icons" style="font-size: 30px; color:crimson">movie</span></a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/detail">Introduction <span class="sr-only">(current)</span></a></li>
                  <li><a href="/objective#about">Objective</a></li>
                  <li><a href="/solution#services">Solution</a></li>
                  <li><a href="/output#team">Output</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card hovercard">
                        <div class="cardheader">
        
                        </div>
                        <div class="avatar">
                            <div class="row">
                            <div class="col-lg-2 col-sm-2 col-md-offset-1"><img  alt="" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4-300x300.png"> </div>
                            <div class="col-lg-2 col-sm-2"><img  alt="" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4-300x300.png"></div>
                            <div class="col-lg-2 col-sm-2"><img  alt="" img src="/images/waqas-zahick.jpg"></div>
                            <div class="col-lg-2 col-sm-2"><img  alt="" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4-300x300.png"></div>
                            <div class="col-lg-2 col-sm-2"><img src="/images/terry-tsang.jpg"></div>
                            </div>
                            <div class="info">
                            <div class="title row">
                                    <div class="col-lg-2 col-sm-2 col-md-offset-1"><a href="" style="color:purple">Brandon Tiley</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" style="color:hotpink">Emily Dunkin</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" style="color:forestgreen">Waqas Zahick</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" style="color:blue">Brett Scotland</a></div>
                                    <div class="col-lg-2 col-sm-2"><a href="" style="color:tomato">Terry Tsang</a></div>
                            </div>
                        </div>
                        <div class="bottom row">
                            
                            <div class="col-lg-2 col-sm-2 col-md-offset-1">
                                <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-primary btn-twitter btn-sm" href="https://github.com/waqaszahick">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-primary btn-linkedin btn-sm" href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        </div>
    </body>
</html>